<!-- Simple Dashboard Layout -->
<div class="layout">
  
  <!-- Fixed Sidebar -->
  <aside class="sidebar">
    <div class="sidebar-header">
      <h1><svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_442_218)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.125 1.125V1.5L5.75385 3.29172C5.91225 3.46596 6 3.69552 6 3.93098C6 4.44874 5.58026 4.875 5.0625 4.875C4.54474 4.875 4.125 4.45526 4.125 3.9375V3.63236C4.125 3.67166 4.12421 3.71088 4.12271 3.75H1.87731C1.87577 3.71088 1.875 3.67166 1.875 3.63236V3.9375C1.875 4.45526 1.45527 4.875 0.9375 4.875C0.419734 4.875 0 4.44874 0 3.93098C0 3.69552 0.0877665 3.46596 0.246161 3.29172L1.875 1.5V1.125C1.875 0.503681 2.37868 0 3 0C3.62132 0 4.125 0.503681 4.125 1.125ZM1.875 3H4.125V2.25H1.875V3Z" fill="white"/>
        <path d="M3.24702 5.75366C3.59988 5.40082 3.85574 4.96913 3.99749 4.5H2.00391C2.14566 4.96913 2.40153 5.40082 2.75439 5.75366L3.00071 6L3.24702 5.75366Z" fill="white"/>
        </g>
        <defs>
        <clipPath id="clip0_442_218">
        <rect width="6" height="6" fill="white"/>
        </clipPath>
        </defs>
        </svg>
        </h1>
    </div>

    <nav class="nav">
      <a (click)="goToUsers()" 
         class="nav-link" 
         [class.active]="isActiveRoute('/users')">
          Cuentas
      </a>
      <a (click)="goToHistory()" 
         class="nav-link" 
         [class.active]="isActiveRoute('/history')">
        Historial
      </a>
      <a *ngIf="isSuperAdmin()" 
         (click)="goToTeam()" 
         class="nav-link" 
         [class.active]="isActiveRoute('/team')">
        Usuarios
      </a>
    </nav>

    <div class="sidebar-footer">
      <div class="user-info-container">
        <div class="user-info">
          <div class="user-name">{{ currentUser?.name }}</div>
          <div class="user-role">{{ currentUser?.role?.replace('_', ' ') }}</div>
        </div>
        <button (click)="toggleDarkMode()" class="theme-toggle background-color-transparent" [class.dark]="isDarkMode" [title]="isDarkMode ? 'Cambiar a modo claro' : 'Cambiar a modo oscuro'">
          <i [class]="isDarkMode ? 'fas fa-sun' : 'fas fa-moon'"></i>
        </button>
      </div>
      <button (click)="logout()" class="btn btn-sm logout-btn">
        Salir
      </button>
    </div>
  </aside>

  <!-- Main Content -->
  <div class="main">
    <header class="header">
      <h2>{{ getCurrentPageTitle() }}</h2>
    </header>

    <main class="content">
    <ng-content select="[page-content]"></ng-content>
    </main>

    <!-- Bridge Footer -->
    <app-footer></app-footer>
  </div>
</div>