<!-- Simple Dashboard Layout -->
<div class="layout">
  
  <!-- Fixed Sidebar -->
  <aside class="sidebar">
    <div class="sidebar-header">
      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M19.9061 21C21.2464 18.2888 22 15.2329 22 12C22 8.76711 21.2464 5.71116 19.9061 3M4.09393 3C2.75363 5.71116 2 8.76711 2 12C2 15.2329 2.75363 18.2888 4.09393 21M16.5486 8.625H16.459C15.8056 8.625 15.1848 8.91202 14.7596 9.41072L9.38471 15.7143C8.95948 16.213 8.33871 16.5 7.6853 16.5H7.59563M8.71483 8.625H10.1089C10.6086 8.625 11.0477 8.95797 11.185 9.44094L12.9594 15.6841C13.0967 16.167 13.5358 16.5 14.0355 16.5H15.4296" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
      <h1>Recount</h1>
    </div>

    <nav class="nav">
      <a (click)="goToMovements()" 
         class="nav-link" 
         [class.active]="isActiveRoute('/movements')">
        Movimientos
      </a>
      <a (click)="goToUsers()" 
         class="nav-link" 
         [class.active]="isActiveRoute('/users')">
          Cuentas
      </a>
      <a (click)="goToHistory()" 
         class="nav-link" 
         [class.active]="isActiveRoute('/history')">
        Historial
      </a>
      <a *ngIf="isSuperAdmin()" 
         (click)="goToTeam()" 
         class="nav-link" 
         [class.active]="isActiveRoute('/team')">
        Equipo
      </a>
      <a (click)="goToSettings()" 
         class="nav-link" 
         [class.active]="isActiveRoute('/settings')">
        Configuración
      </a>
    </nav>

    <div class="sidebar-footer">
      <div class="user-info-container">
        <div class="user-info">
          <div class="user-name">{{ currentUser?.name }}</div>
          <div class="user-role">{{ currentUser?.role?.replace('_', ' ') }}</div>
        </div>
        <button (click)="toggleDarkMode()" class="theme-toggle background-color-transparent" [class.dark]="isDarkMode" [title]="isDarkMode ? 'Cambiar a modo claro' : 'Cambiar a modo oscuro'">
          <i [class]="isDarkMode ? 'fas fa-sun' : 'fas fa-moon'"></i>
        </button>
      </div>
      <button (click)="logout()" class="btn btn-sm logout-btn">
        Salir
      </button>
    </div>
  </aside>

  <!-- Main Content -->
  <div class="main">
    <header class="header">
      <h2>{{ getCurrentPageTitle() }}</h2>
    </header>

    <main class="content">
    <ng-content select="[page-content]"></ng-content>
    </main>
  </div>
</div>